<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
  <ion-row class="ion-no-padding ">
    <ion-col size="12" class="icon-header">
      <span class="icon-doss-create text-white text20"></span>
    </ion-col>
    <ion-col size="12" class="title-header ion-no-padding"
      >CREATION DU DOSSIER</ion-col
    >
  </ion-row>
</ion-grid>

<!-- -->

<ion-content fullscreen class="insc-infos ion-no-padding">
  <ion-grid class="form-bloc ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin" color="light">
          <ion-card-content class="text09 ">
            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-no-padding">
                <ion-label>
                  <ion-badge class="p-6-16 w100" slot="start" color="medium"
                    >Dossier N°: {{idDossier}}</ion-badge
                  >
                </ion-label>
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                <span class="icon-man text-dark  text10"></span>
                {{dataPatient['lastName']}} {{dataPatient['firstName']}}
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                <span class="icon-calander  text-dark  text10"></span>
                {{dataPatient['birthDay']}}
              </ion-col>

              <ion-col size="12" class="ion-no-padding">
                <span class="icon-weight  text-dark  text10"></span>

                {{dataPatient['weight'] + ' KG'}}
              </ion-col>

              <ion-col size="12" class="ion-no-margin ion-no-padding">
                <ion-row class="ion-no-margin ion-no-padding">
                  <ion-col size="2" class="ion-no-margin ion-no-padding">
                    <ion-button
                      (click)="openImageEcg()"
                      color="danger"
                      tappable
                      class="ion-bt-padding "
                    >
                      <ion-icon slot="icon-only" name="pulse"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="10">
                    <ion-text color="primary">
                      <h6>Image ECG prise le :</h6>
                      <h6>25-12-2019 à 23:30</h6>
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!----- FORM ----->
    <form [formGroup]="inscriptionFormInfos" (ngSubmit)="submitFormInfos()">
      <ion-grid fixed class="ion-no-padding">
        <ion-row class="ion-no-margin">
          <ion-col size="12" class="ion-no-padding">
            <ion-list class="ion-no-padding info ">
              <!-- Motif de consultation-->
              <ion-list-header class="ion-no-padding">
                <div class="ion-text-center back-light">
                  Motif de consultation
                  <span class="small-border">&nbsp;</span>
                </div>
              </ion-list-header>

              <ion-item lines="full">
                <ion-text class="text-gray300"
                  >Douleurs Thoraciques au moment
                </ion-text>
                <ion-note
                  slot="end"
                  color="{{dataPatient['dThorasic']? 'danger':'secondary' }}"
                >
                  <b
                    >{{dataPatient['dThorasic']==='1'?'OUI' :'NON' }}</b
                  ></ion-note
                >
              </ion-item>
              <ion-item lines="full">
                <ion-text class="text-gray300">Heure de début </ion-text>
                <ion-note slot="end"> {{dataPatient['startAt']}} </ion-note>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>

        <!-- Facteurs de risque -->
        <ion-row class="ion-no-padding">
          <ion-col size="12" class="ion-no-padding ion-margin-top">
            <!--Diabet -->
            <ion-list class="ion-no-padding">
              <ion-list-header class="ion-no-padding">
                <div class="ion-text-center back-light">
                  Facteurs de risque
                  <span class="small-border">&nbsp;</span>
                </div>
              </ion-list-header>

              <!--hta-->
              <ion-item>
                <ion-label>HTA</ion-label>
                <ion-checkbox
                  checked="false"
                  formControlName="hta"
                ></ion-checkbox>
              </ion-item>
              <ion-item lines="_none">
                <ion-label>Tabac</ion-label>
                <ion-checkbox
                  checked="false"
                  formControlName="tobacco"
                ></ion-checkbox>
              </ion-item>

              <ion-radio-group formControlName="diabetes">
                <ion-list-header>
                  <ion-label> DIABÈTE </ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Non</ion-label>
                  <ion-radio
                    slot="start"
                    color="primary"
                    value=""
                    checked
                  ></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Type1</ion-label>
                  <ion-radio slot="start" color="primary" value="1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Type2</ion-label>
                  <ion-radio slot="start" color="primary" value="2"></ion-radio>
                </ion-item>
              </ion-radio-group>
              <!--== MESSAGE ==-->
              <div *ngFor="let error of errorMessages.diabetes">
                <ng-container
                  *ngIf="diabetes.hasError(error.type) && (diabetes.dirty || diabetes.touched)"
                >
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <!--====-->

              <!--DYSLIPIDIMIE--->
              <ion-radio-group formControlName="dyslip">
                <ion-list-header>
                  <ion-label>DYSLIPIDIMIE</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Aucun</ion-label>
                  <ion-radio
                    slot="start"
                    color="primary"
                    value=""
                    checked
                  ></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Poids</ion-label>
                  <ion-radio slot="start" color="primary" value="1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Taille</ion-label>
                  <ion-radio slot="start" color="primary" value="2"></ion-radio>
                </ion-item>
              </ion-radio-group>
              <!--== MESSAGE ==-->
              <div *ngFor="let error of errorMessages.dyslip">
                <ng-container
                  *ngIf="dyslip.hasError(error.type) && (dyslip.dirty || dyslip.touched)"
                >
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
              <!--====-->
            </ion-list>
          </ion-col>
        </ion-row>

        <!---ANTECEDENTS CARDIOLOGIQUE-->
        <ion-row class="ion-no-padding">
          <ion-col size="12" class="ion-no-padding">
            <ion-list class="ion-no-padding">
              <ion-list-header class="ion-no-padding ion-margin-top">
                <div class="ion-text-center back-light">
                  Antécédents cardiologiques
                  <span class="small-border">&nbsp;</span>
                </div>
              </ion-list-header>

              <ion-item>
                <ion-label>Insuffisance Cardiaque</ion-label>
                <ion-checkbox
                  checked="false"
                  formControlName="insCardiaque"
                ></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-label>Cardiopathie ischémique stable </ion-label>
                <ion-checkbox
                  checked="false"
                  formControlName="cardIscStable"
                ></ion-checkbox>
              </ion-item>
            </ion-list>
          </ion-col>
          <!----->
          <ion-col size="12">
            <ion-radio-group formControlName="sca">
              <ion-list-header>
                <ion-label>SCA</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Non</ion-label>
                <ion-radio
                  slot="start"
                  color="primary"
                  value=""
                  checked
                ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>ST-</ion-label>
                <ion-radio
                  slot="start"
                  color="primary"
                  value="1"
                  checked
                ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>ST+</ion-label>
                <ion-radio slot="start" color="primary" value="2"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <!--== MESSAGE ==-->
            <div *ngFor="let error of errorMessages.sca">
              <ng-container
                *ngIf="sca.hasError(error.type) && (sca.dirty || sca.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <!--====-->
          </ion-col>

          <!-- -->
          <ion-col size="12">
            <ion-item>
              <ion-label>Année de diagnostic</ion-label>
              <ion-datetime
                displayFormat="YYYY"
                value="YYYY"
                picker-format="YYYY"
                value=""
                placeholder="Selectionner l'année"
                formControlName="daignoDate"
              ></ion-datetime>
            </ion-item>

            <ion-radio-group formControlName="angioCoran">
              <ion-list-header>
                <ion-label>ANGIOPLASTIE CORONAIRE</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Non</ion-label>
                <ion-radio
                  slot="start"
                  color="primary"
                  value=""
                  checked
                ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>TCG-</ion-label>
                <ion-radio
                  slot="start"
                  color="primary"
                  value="1"
                  checked
                ></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>IVA</ion-label>
                <ion-radio slot="start" color="primary" value="2"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>CX</ion-label>
                <ion-radio slot="start" color="primary" value="3"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>CD</ion-label>
                <ion-radio slot="start" color="primary" value="4"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <!--== MESSAGE ==-->
            <div *ngFor="let error of errorMessages.angioCoran">
              <ng-container
                *ngIf="angioCoran.hasError(error.type) && (angioCoran.dirty || angioCoran.touched)"
              >
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <!--====-->

            <!-- -->
            <ion-item>
              <ion-label>Année de l’ATL </ion-label>
              <ion-datetime
                displayFormat="YYYY"
                value="YYYY"
                picker-format="YYYY"
                value=""
                placeholder="Selectionner l'année"
                formControlName="atlDate"
              ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- Button Submit-->
        <ion-row class="btn-submit">
          <ion-col size="12">
            <div class="ion-margin-top">
              <ion-button
                shape="round"
                expand="block"
                class="ion-margin-top btn"
                color="dark"
                [disabled]="!inscriptionFormInfos.valid"
                type="submit"
              >
                Valider
                <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-grid>
</ion-content>
