:host {
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  /* Remove bottom border on md */
  .header-md::after {
    background-image: none;
  }

  /* Remove bottom border on ios */
  .header-ios ion-toolbar:last-child {
    --border-width: 0;
  }
  .ion-bt-padding {
    --padding-start: 5px;
    --padding-end: 5px;
    width: 42px;
  }
  ion-icon {
    margin-right: 5px;
    font-size: 1.4em;
    float: left;
    width: 1.4em;
  }
  ion-icon.i-card {
    color: #929eaa;
  }

  button.button-native {
    padding: 0 5px !important;
  }
  ion-card {
    margin: 16px 0;
    ion-col {
      padding: 2px 2px;
    }
  }
}

.pretreatment-infos {
  .form-bloc {
    margin-top: 92px;
  }
  // Toolbar transparent
  .icon-header {
    text-align: center;
    //margin-top: 10px;
    font-size: 1.8rem;
    color: #fff;
  }
  .title-header {
    color: #ffffff;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    text-align: center;
  }

  // Bloc Header fixed
  .header-card-fix {
    //height: 215px;
    position: absolute;
    position: fixed;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    top: 0;
    z-index: 8;
    // background: #01258e;
    // background: linear-gradient(
    //   236deg,
    //   rgba(1, 37, 142, 0.9) 0%,
    //   rgba(7, 133, 239, 0.75) 70%,
    //   rgba(4, 230, 247, 0.3)
    // );

    // background: #516bf0;
    // background: linear-gradient(200deg, #e40002f2 0%, #516bf0e8 70%, rgba(4, 230, 247, 0.6));
    // background: #516bf0;
    // background: linear-gradient(200deg, #6b36e4 0%, #3d96f1 60%, #00fcff);

    background: #3853de;
    background: linear-gradient(500deg, #3853de 0%, #0d9bc3 60%, #32ca8d);
  }

  ion-card-header {
    padding: 6px 10px 6px 16px !important;
    ion-card-title {
      color: #0d9bc3;
      span {
        display: inline-block;
        color: #4d5867;
        /* width: 42px; */
        float: left;
        padding-right: 8px;
      }
    }
  }

  ion-card-content {
    //padding: 10px 24px 10px 10px;
    padding: 10px;

    ion-note {
      font-size: 0.85rem;
      display: block;
      padding: 12px 5px;
      font-weight: 500;
      color: #47525d;
      display: block;

      &.note{
        padding: 16px 5px;
      }
      small {
        display: block;
      }
    }
  }

  ion-item {
    --inner-padding-start: 0.1em;

    ion-radio{
        margin-right: 16px;
    }
  }

  ion-list.info ion-note {
    font-size: 0.9em;
    margin: 0;
    padding-left: 0;
  }
  ion-list.info ion-label {
    font-size: 0.9rem;
  }
}
