:host {
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }

  ion-button.bt-cloture {
    --border: none;
    --border-radius: 24px;
    --background: #3853de;
    --background: linear-gradient(500deg, #3853de 0%, #0d9bc3 60%, #32ca8d);
  }
  ion-button.md.button.button-medium.button-solid.ion-activatable.ion-focusable.hydrated {
    height: 80px;
  }
  ion-button.ios.button.button-medium.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
    min-height: 80px;
  }

  .header-md::after {
    background-image: none;
  }

  /* Remove bottom border on ios */
  .header-ios ion-toolbar:last-child {
    --border-width: 0;
  }

  ion-content {
    --background: #ffffff;
    //--background: #ecf0f4;
  }
  .ion-bt-padding {
    --padding-start: 5px;
    --padding-end: 5px;
    width: 42px;
  }

  ion-icon.i-card {
    color: #929eaa;
  }
  button.button-native {
    padding: 0 5px !important;
  }
  ion-card {
    background-color: #ffffff;

    ion-col {
      padding: 2px 2px;
    }
  }

  /*
  //---- Button gradian -----
  ion-button {
    --border: none;
    --border-radius: 24px;
    
    --background: #3853de;
    --background: linear-gradient(500deg, #3853de 0%, #0d9bc3 60%, #32ca8d);

       }

  ion-button.md.button.button-medium.button-solid.ion-activatable.ion-focusable.hydrated {
    height: 80px;
  }
  ion-button.ios.button.button-medium.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
    min-height: 80px;
  }
  */
  ion-chip {
    //   width: 92px;
    //   height: 46px;
    //background: #f1f2f3;
    background: #edf5f5;
    padding: 5px 12px;
    min-width: 85px;
    &.span {
      font-size: 1.8rem;
    }
    ion-label {
      width: 100%;
      //margin-bottom: 4px;
    }
    ion-note {
      color: #134149;
      color: #12a2bc;
    }

    ion-row {
      padding: 0;
    }
    ion-col {
      padding: 0;
    }
  }

  ion-item {
    padding: 0;
  }

  ion-item-divider {
    height: 62px;
    border-bottom: 2px solid #4fccda;
    margin-bottom: 14px;
    background: #ecf0f4;
    ion-label {
      margin: 10px 0px;
      //padding: 0 10px 10px 0;
    }
  }
  // ion-item{
  //   &.item-inner{
  //     padding: 0!important;
  //   }
  //   &.item-native{
  //     padding: 0!important;
  //   }
  // }
}

/****************************/
.cloture-info {
  background: #fff;

  // ion-item > div.item-inner {
  //   padding: 0!important;

  // }
  // .item-inner {
  //   padding: 0!important;
  //   padding-right:initial;

  // }

  ion-card-content.md.card-content-md.hydrated {
    //padding: 10px 24px 10px 10px;
    padding: 10px;
    ion-button {
      margin-right: 10px;
      height: 42px;
      --background: #12a2bc;
    }
  }

  .gradian {
    background: #3853de;
    background: linear-gradient(500deg, #3853de 0%, #0d9bc3 60%, #32ca8d);
  }

  // ion-list-header {
  //   height: 62px;
  //   border-bottom: 2px solid #4fccda;
  //   margin-bottom: 14px;
  //   background: #ecf0f4;
  // }

  .colorSos {
    color: #01a5c1;
  }
  .colorRas {
    color: #009444;
  }
  .colorSt {
    color: #ef4136;
  }
}
