<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>insc-infos</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
  <!-- <div class="overly-gradian">&nbsp;</div> -->
  <ion-row class="ion-no-padding ">
    <ion-col size="12" class="icon-header">
      <span class="icon-cr-orientation text-white text22"></span>
    </ion-col>
    <ion-col size="12" class="title-header ion-no-padding">SOS THROMBOLYSE</ion-col>
  </ion-row>
</ion-grid>

<ion-content fullscreen class="thrombo-sos ion-no-padding">
  <!-- --------- 1 ---------- -->
  <ion-grid class="form-bloc  bg-light ">
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin" color="light">
          <ion-card-content class="text10 ">
            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-no-padding">
                <ion-label>
                  <ion-badge class="p-6-16" slot="start" color="medium">Dossier N°: {{dossierId}}</ion-badge>
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-no-padding">
                <h2>
                  <span class='{{ gender === 2 ? "icon-woman fsize-18em" : "icon-man fsize-18em" }} text-dark  text10'>
                  </span>
                  {{dataPatient['firstName']}} {{dataPatient['lastName']}}
                </h2>
              </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-no-padding">
                <h2>
                  <span class="icon-calander  text-dark  text10"></span>
                  {{dataPatient['birthDay']}}
                </h2>
              </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-no-padding">
                <span class="icon-weight  text-dark  text10"></span>
                <!-- <ion-icon class="i-card" name="speedometer"></ion-icon>  -->
                {{dataPatient['weight'] + ' KG'}}
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- --------- 1 ---------- -->

  <!-- --------- 2 ---------- -->
  <ion-grid>
    <ion-row *ngIf="afficheReponseMed == 0">
      <ion-col size="12">
        <ion-list class="ion-no-padding">
          <ion-item-divider>
            <ion-avatar>
              <span class="icon-notif text-dark  text17 "></span>
            </ion-avatar>
            <ion-text>
              <b class="text-gray500 ">DEMANDER UN AVIS MEDICAL</b>
            </ion-text>
          </ion-item-divider>
          <!-- -->
          <ion-item lines="full" *ngFor="let item of itemsCR; let i = index" tappable
            (click)="demandeAvisCr(item.etabId, i, item.etabName)" color="tansparent"
            [ngClass]="{'section-active': item.open, 'section': !item.open}">
            <ion-label class="ion-text-wrap">
              <h3>
                <span class="icon-cudt-box-2   text-dark  text15"></span>{{item.etabName}}
              </h3>
            </ion-label>

            <ion-chip color="secondary">
              <ion-note>
                <span class="icon-duration-1 text-dark  "></span>
                <b> {{item.duration}}</b></ion-note>
            </ion-chip>
          </ion-item>
          <!-- -->
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- --------- 2 ---------- -->

  <ion-grid>
    <!--- RESPONSE DOCTORS-->
    <ion-row *ngIf="afficheReponseMed == 1">
      <ion-col size="12">
        <ion-list lines="none" class="ion-padding">

          <ion-item-divider>
            <ion-avatar>
              <span class="icon-notif text-dark  text17 "></span>
            </ion-avatar>

            <ion-text>
              <b class="text-gray500 ">AVIS MEDICAUX DU CENTRE :</b>
              <h6> {{lastCrName}}</h6>
            </ion-text>

            <!-- <ion-button slot=" start" strong="true" (click)="reponseAvisCR(demandeAvisId)" shape="round">
              <ion-icon name="refresh"></ion-icon>
            </ion-button> -->

            <ion-button slot="end" strong="true" (click)="reponseAvisCR(demandeAvisId)" shape="round">
              <ion-icon name="refresh"></ion-icon>
            </ion-button>

          </ion-item-divider>

          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text>
                Pour l'instant, vous n'avez reçu aucun avis médicale concerant le patient <b>{{dataPatient['firstName']}}
                  {{dataPatient['lastName']}}</b>.
              </ion-text>
              <ion-text>               
                <h6 class="error-message"> Veuillez rafraîchir pour actualiser les données</h6>
              </ion-text>
            </ion-label>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>


    <!-- -->
    <ion-row *ngIf="afficheReponseMed == 2">
      <ion-col size="12">


        <ion-list class="ion-no-padding">
          <ion-item-divider>
            <ion-text>
              <span class="icon-notif text-dark  text17 "></span>
              <b class="text-gray500 ">DEMANDER UN AVIS AU CR : {{lastCrName}}
              </b>
            </ion-text>

            <ion-button slot="end" strong="true" (click)="reponseAvisCR(demandeAvisId)" shape="round">
              <ion-icon name="refresh"></ion-icon>
            </ion-button>
          </ion-item-divider>

          <!--    -->
          <ion-item lines="full" *ngFor="let itemReponse of dataReponsesAvis" class="ion-no-padding">
            <ion-label class="ion-text-wrap">
              <h3>
                <span class="icon-doctor-sos-2  text-dark  text17"></span>{{itemReponse.doctor}}
              </h3>
            </ion-label>

            <ion-chip color="secondary" slot="end" class="ion-no-padding">
              <span
                class=" {{ itemReponse['reponse'] === 'ST' ? 'icon-heart-st' :  'icon-heart-checked'}}  text-dark  fsize14"></span>

              <ion-note [ngClass]="{                    
                    'colorSt':itemReponse['reponse'] === 'ST',
                    'colorRas':itemReponse['reponse']  === 'RAS' }">
                <b>{{itemReponse["reponse"] === null? "PAS ENCORS" :
                  itemReponse["reponse"] }}</b>
              </ion-note>
            </ion-chip>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="afficheButtonCR == 1" fixed class="intervention ion-no-margin">
    <ion-row>
      <ion-col size="12" class="ion-text-left">
        <ion-grid class="interv-btn-group ion-text-left">
          <ion-row>
            <ion-col size="12">
              <ion-button expand="block" fill="solid" class="gocr" tappable tappable (click)="showAlertConfirme('CR')">
                <span class="icon-int-ras "></span>
                <ion-text>
                  Envoyer au CR
                </ion-text>
              </ion-button>
            </ion-col>

            <ion-col size="12">
              <ion-button expand="block" fill="solid" class="thrombo" tappable (click)="showAlertConfirme('THROMB')">
                <span class="icon-int-thromb"></span>
                <ion-text>
                  Thrombolyse
                </ion-text>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- --------- 2 ---------- -->
</ion-content>