<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inscription"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>insc-infos</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="insc-ecg ion-no-padding ">
  <div class="overly-gradian">&nbsp;</div>
  <ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="icon-header">
        <span class="icon-doss-create text-white text20"></span>
      </ion-col>
      <ion-col size="12" class="title-header ion-no-padding"
        >CREATION DU DOSSIER</ion-col
      >
    </ion-row>
  </ion-grid>

  <!---->
  <form [formGroup]="EcgForm" (ngSubmit)="submitEcg()" class="list-form">
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            Création du dossier
          </ion-list-header>
          <ion-item>
            <ion-button>
              <ion-icon slot="icon-only" name="heart-empty"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon
                slot="icon-only"
                name="notifications-outline"
              ></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon slot="icon-only" name="pulse"></ion-icon>
            </ion-button>
            <ion-label>
              <h2>{{lastName}} {{firstName}}</h2>
              <h3>{{birthday}}</h3>
            </ion-label>
          </ion-item>
          <ion-item class="ion-margin-top">
            <ion-label position="floating">Poids</ion-label>
            <ion-input inputmode="text" formControlName="poids"> </ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.poids">
            <ng-container
              *ngIf="poids.hasError(error.type) && (poids.dirty || poids.touched)"
            >
              <small class="error-message">
                <ion-icon name="information-circle-outline"></ion-icon>
                {{error.message}}
              </small>
            </ng-container>
          </div>

          <ion-item>
            <ion-label>DOULEUR THORACIQUE AU MOMENT</ion-label>
            <ion-toggle
              checked="false"
              formControlName="dThorasic"
            ></ion-toggle>
          </ion-item>

          <ion-item *ngIf="isEcg">
            <ion-thumbnail slot="start">
              <ion-img [src]="ecgAfficher"></ion-img>
            </ion-thumbnail>
            <ion-button slot="end" fill="clear" (click)="deleteImage()">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-button size="medium" (click)="takePicture()">
            <ion-icon slot="start" name="pulse"></ion-icon>Ajouter ECG
          </ion-button>
          <div class="ion-margin-top">
            <ion-button
              shape="round"
              expand="block"
              color="dark"
              [disabled]="!EcgForm.valid"
              type="submit"
              class="ion-margin-top btn"
            >
              Valider
              <ion-icon slot="end" name="create"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
