<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      {{url1}}

      <ion-item>
        <img src="{{urlhalim}}" />

        <ion-card-title>
          image salim
        </ion-card-title>
      </ion-item>

      <!-- <ion-item>
        <img ng-src="{{url2}}" />
        <ion-card-title>
          image webcom
        </ion-card-title>
      </ion-item> -->
    </ion-card-content>
  </ion-card>
</ion-content>
