<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/diagnostic"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>insc-infos</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
  <!-- <div class="overly-gradian">&nbsp;</div> -->
  <ion-row class="ion-no-padding ">
    <ion-col size="12" class="icon-header">
      <span class="icon-drogs text-white text20"></span>
    </ion-col>
    <ion-col size="12" class="title-header ion-no-padding"
      >PRETRAITEMENT ENGIOPLASTIE</ion-col
    >
  </ion-row>
</ion-grid>

<ion-content fullscreen class="pretreatment-infos ion-no-padding">
  <ion-grid class="form-bloc  bg-light ">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin ion-text-left" color="light">
          <ion-card-content class="text09 ">
            <ion-row class="ion-no-padding">
              <ion-col size="10" class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <ion-label>
                      <ion-badge class="p-6-16" slot="start" color="medium"
                        >N°: {{dossierId}}</ion-badge
                      >
                    </ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-man text-dark  text10"></span>
                    {{dataPatient['lastName']}} {{dataPatient['firstName']}}
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-calander  text-dark  text10"></span>
                    {{dataPatient['birthDayFr']}}

                    <ion-chip outline color="secondary">
                      <ion-label class="bold"
                        >{{dataPatient['age']}} ans
                      </ion-label>
                    </ion-chip>

                    <!-- <ion-badge color="medium" mode="md">{{dataPatient['age']}} ans  </ion-badge>  -->
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-weight  text-dark  text10"></span>
                    {{dataPatient['weight'] + ' KG'}}
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="2" class="ion-no-padding">
                <ion-col size="12" class="ion-no-padding">
                  <ion-button
                    (click)="openImageEcg()"
                    color="danger"
                    class="ion-bt-padding "
                    expand="full"
                  >
                    <ion-icon slot="icon-only" name="pulse"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <form [formGroup]="pretreatmentFormInfos" (ngSubmit)="submitFormInfos()">
      <ion-grid fixed>
        <ion-row class="ion-no-margin">
          <ion-col size="12">
            <!-- pretreatment-bolus -->
            <ion-list-header class="ion-no-padding">
              <div class="ion-text-center back-light">
                Prétraitement Engioplastie
                <span class="small-border">&nbsp;</span>
              </div>
            </ion-list-header>

            <!--ASPEGIC-->
            <ng-container>
              <ion-row class="ion-no-padding ion-margin-top">
                <ion-col size="12" class="ion-no-padding">
                  <ion-card class="_ion-no-margin" color="light">
                    <ion-card-header>
                      <ion-card-title>
                        <span class="icon-drugs-2  text16"></span>
                        <h6>ASPÉGIC</h6>
                      </ion-card-title>
                    </ion-card-header>

                    <ion-card-content class="text09 ">
                      <ion-radio-group formControlName="aspegic">
                        <ion-item>
                          <ion-note slot="" class="note">Aucun</ion-note>
                          <ion-radio
                            slot="start"
                            color="primary"
                            value="0"
                            checked
                          ></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-note slot="" class="note">Intraveineux</ion-note>
                          <ion-note slot="end" class=" fsize-12em"
                            >75-250 mg</ion-note
                          >
                          <ion-radio
                            slot="start"
                            color="primary"
                            value="1"
                          ></ion-radio>
                        </ion-item>
                        <ion-item lines="none">
                          <ion-note slot="" class="note">Per os</ion-note>
                          <ion-note slot="end" class=" fsize-12em"
                            >150-300 mg</ion-note
                          >
                          <ion-radio
                            slot="start"
                            color="primary"
                            value="2"
                          ></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <!--PLAVIX-->

              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <ion-card class="ion-margin" color="light">
                    <ion-card-header>
                      <ion-card-title>
                        <span class="icon-drugs-2 text16"></span>
                        <h6>PLAVIX</h6>
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="text09 ">
                      <ion-radio-group formControlName="plavix">
                        <!-- <ion-item>
                          <ion-note slot="" class="note">Aucun</ion-note>
                          <ion-radio
                            slot="start"
                            color="primary"
                            value="0"
                          ></ion-radio>
                        </ion-item> -->
                        <ion-item>
                          <ion-note slot="" class="note">Plavix</ion-note>
                          <ion-note slot="end" class=" fsize-12em"
                            >300 mg
                          </ion-note>
                          <ion-radio
                            slot="start"
                            color="primary"
                            value="1"
                          ></ion-radio>
                        </ion-item>
                        <ion-item lines="none">
                          <ion-note slot="" class="note">TICAGLRELOR</ion-note>
                          <ion-note slot="end" class=" fsize-12em"
                            >180 mg
                          </ion-note>
                          <ion-radio
                            slot="start"
                            color="primary"
                            value="2"
                          ></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>

              <!--HEPARINE-->
              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <ion-card class="ion-margin" color="light">
                    <ion-card-header>
                      <ion-card-title>
                        <span class="icon icon-drugs-2  text16"></span>
                        <h6>HÉPARINE NON FRACTIONNÉE IV</h6>
                      </ion-card-title>
                    </ion-card-header>

                    <ion-card-content class="text09 ">
                      <ion-item lines="full">
                        <ion-label class=" fsize-12em"
                          >{{doseHeparine}} mg</ion-label
                        >
                        <ion-checkbox
                          checked="false"
                          formControlName="heparine"
                          value="0"
                        ></ion-checkbox>
                      </ion-item>
                      <ion-note>
                        <small>DOSE PARE POIDS : poids KG * 60 UI/KG</small>
                      </ion-note>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <!-- ----------------- -->
            </ng-container>
            <!-- ----------------- -->
            <!--Button Submit-->
            <ion-row>
              <ion-col size="12">
                <div class="ion-margin-top">
                  <!-- <ion-button shape="round" expand="block" class="ion-margin-top btn" color="dark"
                    [disabled]="!pretreatmentFormInfos.valid" type="submit">
                    Valider
                    <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
                  </ion-button> -->
                  <ion-button
                    [disabled]="!pretreatmentFormInfos.valid"
                    shape="round"
                    expand="block"
                    class="ion-margin-top btn"
                    color="dark"
                    type="submit"
                  >
                    Valider
                    <ion-icon
                      slot="end"
                      name="checkmark-circle-outline"
                    ></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <!----- FORM ----->
  </ion-grid>
</ion-content>
