<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title class="ion-text-left">Inscription - CUDT</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class=" register-init ion-no-padding" color="white">
  <!-- 
  <div class=" overly-image">
    <div class="overly-gradian">image</div>
  </div> -->

  <ion-grid
    fixed
    class="ion-no-padding  header-card-fix  overly-gradian-header box-shadow "
  >
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="icon-header">
        <span class="icon-user text-white text20"></span>
      </ion-col>
      <ion-col size="12" class="title-header ion-no-padding"
        >INSCRIPTION CUDT</ion-col
      >
    </ion-row>
  </ion-grid>

  <form
    [formGroup]="registrationForm"
    (ngSubmit)="submitRgister()"
    class="list-form"
  >
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col
          class="ion-align-self-center"
          size-md="6"
          size-lg="5"
          size-xs="12"
        >
          <div>
            <!-- Nom -->
            <ion-item class="ion-margin-top" lines="none">
              <ion-label position="floating">Nom</ion-label>
              <ion-input
                autocapitalize
                inputmode="text"
                formControlName="lastName"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.lastName">
              <ng-container
                *ngIf="lastName.hasError(error.type) && (lastName.dirty || lastName.touched)"
              >
                <small class="message  error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>

            <!-- Prénom -->
            <ion-item class="ion-margin-top" lines="none">
              <ion-label position="floating">Prénom</ion-label>
              <ion-input
                autocapitalize
                inputmode="text"
                formControlName="firstName"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.firstName">
              <ng-container
                *ngIf="firstName.hasError(error.type) && (firstName.dirty || firstName.touched)"
              >
                <small class="message  error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>

            <!--  Numéro de Téléphone-->
            <ion-item class="ion-margin-top" lines="none">
              <ion-label position="floating">Mobile</ion-label>
              <ion-input
                inputmode="numeric"
                placeholder="0XX123123"
                formControlName="mobile"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.mobile">
              <ng-container
                *ngIf="mobile.hasError(error.type) && (mobile.dirty || mobile.touched)"
              >
                <small class="message  error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>

            <!-- Nom d'utilisateur - Email-->
            <ion-item class="ion-margin-top" lines="none">
              <ion-label position="floating">Nom utilisateur</ion-label>
              <ion-input
                autocapitalize
                inputmode="email"
                placeholder="email@domaine.com"
                formControlName="email"
              >
              </ion-input>
            </ion-item>

            <div *ngFor="let error of errorMessages.email">
              <ng-container
                *ngIf="email.hasError(error.type) && (email.dirty || email.touched)"
              >
                <small class="message  error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>

            <!-- Mot de passe cmoparaison-->
            <!-- 1 - password -->
            <ion-item class="ion-margin-top" lines="none">
              <ion-label position="floating">Mot de passe</ion-label>
              <ion-input
                autocapitalize
                type="password"
                formControlName="password"
                value=""
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.password">
              <ng-container
                *ngIf="password.hasError(error.type) && (password.dirty || password.touched)"
              >
                <small class="message  error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>
            <!-- 2 - password confirmation-->
            <ion-item class="ion-margin-top" lines="none">
              <ion-label position="floating">Confirmation...</ion-label>
              <ion-input
                autocapitalize
                type="password"
                formControlName="password_confirmation"
              ></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.password_confirmation">
              <ng-container
                *ngIf="password_confirmation.hasError(error.type) && (password_confirmation.dirty || password_confirmation.touched)"
              >
                <small class="message  error-message ">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>
            <!-- Mot de passe cmoparaison-->
            <ng-container>
              <div class="message  error-message" *ngIf="!passwordMatch">
                <ion-icon name="information-circle-outline"></ion-icon> Les mots
                de passe ne sont pas identiques conforme
              </div>
            </ng-container>
            <!-- Civilité -->

            <ion-item class="ion-margin-top" lines="none">
              <ion-label color="primary">Gender</ion-label>
              <ion-select
                formControlName="gender"
                cancelText="Cancel"
                okText="OK"
              >
                <ion-select-option value="2" color="light" slot="end"
                  >Homme</ion-select-option
                >
                <ion-select-option value="1" color="light" slot="end"
                  >Femme</ion-select-option
                >
              </ion-select>
            </ion-item>

            <!-- CENTRE CR-->

            <ion-list class="ion-margin-top " lines="none">
              <ion-item>
                <ion-label>Votre CR</ion-label>
                <ion-select
                  formControlName="cr"
                  (ionChange)="OnChangeCR($event)"
                >
                  <ion-select-option
                    *ngFor="let item of itemsCR"
                    value="{{item.etabId}}"
                    >{{item.etabName}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <ion-list *ngIf="ChoixCR != 0" class="ion-margin-top" lines="none">
              <ion-item>
                <ion-label>Votre CUDT</ion-label>
                <ion-select formControlName="cudtId">
                  <ion-select-option
                    *ngFor="let item of itemsCudt"
                    value="{{item.etabId}}"
                    >{{item.etabName}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <!-- Conditions-->
            <ion-item class="ion-margin-top" lines="full">
              <ion-label color="primary"
                >J'accepte les conditions d'utilisations</ion-label
              >
              <ion-checkbox
                color="primary"
                checked="true"
                formControlName="terms"
              ></ion-checkbox>
            </ion-item>

            <div *ngFor="let error of errorMessages.terms">
              <ng-container
                *ngIf="terms.hasError(error.type) && (terms.dirty || terms.touched)"
              >
                <small class="message  error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>
            <small class="info-message" (click)="readTerms()">
              <span class="icon-doss-edit"></span>
              Lire les conditions générales d'utilisation
            </small>

            <ion-button
              [disabled]="!registrationForm.valid"
              type="submit"
              expand="block"
              class="ion-margin-top btn"
            >
              Submit
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
