:host {
  background: #3171e0  url(../../../assets/images/bg1.jpg) no-repeat right 0;
  background-size: auto 100%, cover;

  ion-content {
    //background: rgb(7,0,120);
    // background: linear-gradient(62deg, rgba(7, 0, 120, 0.85) 0%, rgba(9, 9, 121, 0.7) 35%, rgba(0, 212, 255, 0.55) 100%);
    //background: linear-gradient(62deg, rgba(255, 255, 255, 0.85) 0%, #c2e6ffb8 35%, rgba(0, 212, 255, 0.53) 100%);

    // background: rgb(1, 37, 142);
    // background: linear-gradient(
    //   236deg,
    //   rgba(1, 37, 142, 0.9) 0%,
    //   rgba(7, 133, 239, 0.75) 70%,
    //   rgba(4, 230, 247, 0.3)
    // );

    //background: #01258e;
    //background: linear-gradient(202deg, rgba(1, 37, 142, 0.98) 0%, rgba(7, 133, 239, 0.85) 70%, rgba(4, 230, 247, 0.6));
    //background:linear-gradient(202deg, #fd5f60 0%, rgba(7, 133, 239, 0.85) 70%, rgba(4, 230, 247, 0.6));

    // background: #516bf0;
    // background: linear-gradient(202deg, #e40002f2 0%, #516bf0e8 70%, rgba(4, 230, 247, 0.6));
  }

  .cercle-design-A {
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    top: -282px;
    left: -140px;
    border-radius: 100%;
  }
  .cercle-design-B {
    width: 200px;
    height: 208px;
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    top: -150px;
    left: 180px;
    border-radius: 100%;
  }

  .icon-pass {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    //font-size: 1.8em;
    color: white;
    z-index: 1000;
  }
  .icon-eye-show:before,
  .icon-eye-hide:before {
    color: white;
  }

  ion-grid {
    padding-top: 0;
    padding-bottom: 0;
  }
  // ion-img {
  //   height: 80px;
  // }

  ion-icon {
    margin-right: 5px;
    font-size: 1.4em;
    float: left;
  }
  hr {
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
    /* color: #fff; */
    border-top: 2px dotted rgba(255, 255, 255, 0.3);
  }

  // margin: 0 5%;
  .list-form {
    padding: 0;
    margin-bottom: 0;

    ion-item {
      --ion-item-background: transparent;
      // background: none;
      background: rgba(149, 231, 255, 0.2);
      //border-radius: 12px;
      padding: 0;
      // border-bottom: 2px solid var(--ion-color-light);
      --border-width: 0 0 2px 0;
      --ion-border-color: #fff;

      &:first-child {
        border-top: none;
        //border-bottom: 2px solid #fff;
      }

      &:after {
        display: none;
      }

      ion-label {
        font-size: 1em;
        color: #fff;
      }

      // input {
      //   color: #fff;
      // }

      //   input.native-input.sc-ion-input-ios, input.native-input.sc-ion-input-md {
      //     color: #fff;
      // }
      // .sc-ion-input-ios-h , .sc-ion-input-md-h{
      //   color: #fff;
      //  }
      //  .native-input.sc-ion-input-ios{
      //    padding: 0;
      //    padding-top: 0!important;
      //    padding-bottom: 0!important;
      //  }
      ion-input {
        // --padding-top:0;
        --color: #fff;
      }

      // ion-input.sc-ion-input-md-h.sc-ion-input-md-s.md.hydrated.ng-touched.ng-dirty.has-value.ng-valid.ion-touched.ion-dirty.ion-valid {
      //   color: #fff;
      //   //  background-color: transparent;
      // }

      // ion-input.sc-ion-input-md-h{
      //   color: #fff!important;

      // }

      //--highlight-color-focused: #3880ff;
      //----------- IOS Style ------
      .item-label-floating.sc-ion-input-ios-h,
      .item-label-floating .sc-ion-input-ios-h,
      .item-label-stacked.sc-ion-input-ios-h,
      .item-label-stacked .sc-ion-input-ios-h {
        padding: 0;
        // --padding-bottom: 8px;
        // --padding-start: 0px;
      }
    }
  }
  h3.title-header {
    padding: 0;
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .error-message {
    color: white;
    background: #f32051;
    border-radius: 8px;
    width: 100%;
    display: inline-flex;
    margin-top: 5px;
    padding: 8px 10px;
    height: 24px;
    vertical-align: middle;
    line-height: 20px;
    font-size: 0.9em;
    height: auto;
  }
}

// input:-internal-autofill-selected {
//   background-color: #00ff40 !important;
//   background-image: none !important;
//   color: #00dd93 !important;
// }
