:host {
  background:#ffffff;
  ion-button {
    --border: none;
    --border-radius: 24px;
    height: 64px;
    // --background :linear-gradient(202deg, #fd5f60 0%, rgba(7, 133, 239, 0.85) 70%, rgba(4, 230, 247, 0.6));

    //background: #516bf0;
    //--background: linear-gradient(202deg, #e40002f2 0%, #516bf0e8 70%, rgba(4, 230, 247, 0.6));
    //  --background: linear-gradient(286deg, #11b9d4f2 0%, #0086c5e8 70%, rgb(4, 230, 247));

    //--background: linear-gradient(400deg, #6b36e4 0%, #3d96f1 60%, #00fcff);

    --background: #3853de;
    --background: linear-gradient(500deg, #3853de 0%, #0d9bc3 60%, #32ca8d);

    // --background: #01258e;
    // --background: linear-gradient(202deg, rgba(1, 37, 142, 0.98) 0%, rgba(7, 133, 239, 0.85) 70%, rgba(4, 230, 247, 0.6));
  }

  // ion-button.md.button.button-medium.button-solid.ion-activatable.ion-focusable.hydrated {
  //   height: 80px;
  // }
  // ion-button.ios.button.button-medium.button-round.button-solid.ion-activatable.ion-focusable.hydrated {
  //   min-height: 80px;
  // }

  ion-card {
    background-color: #ffffff;
    // margin-top: 150px;
    ion-card-content{
      margin: 24px 0 ;
    }
  }
  ion-content {
    --background: #ecf0f459;
  }
 

  ion-toggle{
    padding: 16px;
   // margin: 10px 0;
    --handle-background-checked :#3853de;
  }

  h2{
    margin: 8px 0;
  }
  // .drug-page{

  //   background-color: #ffffff;
  // }
}
