<ion-header>
  <ion-toolbar color="dark">
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> -->
    <!-- <ion-title>insc-infos</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
    <!-- <div class="overly-gradian">&nbsp;</div> -->
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="icon-header">
        <span class="icon-diagnostic text-white text20"></span>
      </ion-col>
      <ion-col size="12" class="title-header ion-no-padding"
        >Détail Archive</ion-col
      >
    </ion-row>
  </ion-grid>

  <ion-grid class="form-bloc  bg-light ">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin ion-text-left" color="light">
          <ion-card-content class="text09 ">
            <ion-row class="ion-no-padding">
              <ion-col size="10" class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <ion-label>
                      <ion-badge class="p-6-16" slot="start" color="medium"
                        >N°: 2001-00035</ion-badge
                      >
                    </ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <!-- <ion-icon class="i-card" name="person"></ion-icon>  -->
                    <span class="icon-man text-dark  text10"></span>
                    {{dataPatient['lastName']}} {{dataPatient['firstName']}}
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-calander  text-dark  text10"></span>
                    <!-- <ion-icon class="i-card" name="calendar"></ion-icon>  -->
                    {{dataPatient['birthDayFr']}}
                    <!-- <ion-badge color="medium" mode="md"> 45 ans </ion-badge> -->
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-weight  text-dark  text10"></span>
                    <!-- <ion-icon class="i-card" name="speedometer"></ion-icon>  -->
                    {{dataPatient['weight'] + ' KG'}}
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="2" class="ion-no-padding">
                <ion-col size="12" class="ion-no-padding">
                  <ion-button
                    (click)="openImageEcg()"
                    color="danger"
                    class="ion-bt-padding "
                    expand="full"
                  >
                    <ion-icon slot="icon-only" name="pulse"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
