<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>insc-infos</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
  <!-- <div class="overly-gradian">&nbsp;</div> -->
  <ion-row class="ion-no-padding ">
    <ion-col size="12" class="icon-header">
      <span class="icon-conditions text-white text20"></span>
    </ion-col>
    <!-- <ion-col size="12" class="title-header ion-no-padding">CONTRE INDICATIONS RELATIVES</ion-col> -->
    <ion-col size="12" class="title-header ion-no-padding"
      >PRETRAITEMENT</ion-col
    >
  </ion-row>
</ion-grid>

<ion-content fullscreen class="form-infos ion-no-padding">
  <ion-grid class="form-bloc  bg-light ">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin ion-text-left" color="light">
          <ion-card-content class="text09 ">
            <ion-row class="ion-no-padding">
              <ion-col size="10" class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <ion-label>
                      <ion-badge class="p-6-16" slot="start" color="medium"
                        >N°: {{dossierId}}</ion-badge
                      >
                    </ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-man text-dark  text10"></span>
                    {{dataPatient['lastName']}} {{dataPatient['firstName']}}
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-calander  text-dark  text10"></span>
                    {{dataPatient['birthDayFr']}}

                    <ion-chip outline color="secondary">
                      <ion-label class="bold"
                        >{{dataPatient['age']}} ans
                      </ion-label>
                    </ion-chip>

                    <!-- <ion-badge color="medium" mode="md">{{dataPatient['age']}} ans  </ion-badge>  -->
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-weight  text-dark  text10"></span>
                    {{dataPatient['weight'] + ' KG'}}
                  </ion-col>
                </ion-row>
              </ion-col>

              <ion-col size="2" class="ion-no-padding">
                <ion-col size="12" class="ion-no-padding">
                  <ion-button
                    (click)="openImageEcg()"
                    color="danger"
                    class="ion-bt-padding "
                    expand="full"
                  >
                    <ion-icon slot="icon-only" name="pulse"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="form-bloc">
    <!-- FORM -->
    <form [formGroup]="contreIndicForm" (ngSubmit)="submitFormInfos()">
      <ion-grid fixed>
        <ion-row class="ion-no-margin">
          <ion-col size="12" class="ion-no-padding">
            <ion-list class="ion-no-padding info ">
              <!-- -CONTRE INDICATIONS ABSOLUS- -->
              <ion-list-header class="ion-no-padding">
                <div class="ion-text-center back-light">
                  Contre indications relatives
                  <span class="small-border">&nbsp;</span>
                </div>
              </ion-list-header>

              <!-- FORM -->
              <ng-container
                *ngFor="let contIndicAbs of  listContIndicAbs; let i = index"
              >
                <ion-item>
                  <ion-text color="primary">
                    <div>{{contIndicAbs.text}}</div>

                    <!-- -->
                    <div *ngIf="contIndicAbs.textNote">
                      <ul>
                        <div *ngFor="let text of contIndicAbs.textNote">
                          <li>
                            <ion-note>
                              {{text}}
                            </ion-note>
                          </li>
                        </div>
                      </ul>
                    </div>
                    <!-- -->

                    <!-- <div *ngIf="errorMessages">
                      <small class="error-message"> Veuillez préciser le type Hypertension artérielle réfractaire </small>
                    </div> -->
                  </ion-text>

                  <ion-checkbox
                    slot="end"
                    [(ngModel)]="contIndicAbs.isChecked"
                    formControlName="cia{{i+1}}"
                    value="contIndicAbs.isChecked"
                    id="cia{{i+1}}"
                    (ionChange)="onCheckBoxChange(contIndicAbs.isChecked, contIndicAbs.alert)"
                  >
                  </ion-checkbox>
                </ion-item>
              </ng-container>
              <!--  -->
              <!-- <div *ngIf='isDisplayRadio'>

                      <ion-list>
                        <ion-radio-group>
                          <ion-list-header>
                            Auto Manufacturers
                          </ion-list-header>
                          <ion-item>
                            <ion-label>Duesenberg</ion-label>
                            <ion-radio value="duesenberg"></ion-radio>
                          </ion-item>

                          <ion-item>
                            <ion-label>Hudson</ion-label>
                            <ion-radio value="hudson"></ion-radio>
                          </ion-item>
                        </ion-radio-group>
                      </ion-list>
                    </div>
                      -->

              <!-- <ion-item>
                <ion-text color="primary">
                  <p>Accident ischémique transitoire dans les 6 mois précédents</p>
                </ion-text>
                <ion-checkbox slot="end" checked="false" formControlName="cia1" value="false" >
                </ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text color="primary">
                  <p>Traitement anticoagulant oral</p>
                </ion-text>
                <ion-checkbox slot="end" checked="false" formControlName="cia2" value="false"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text color="primary">
                  <p>Grossesse ou post-partum de moins d’une semaine</p>
                </ion-text>
                <ion-checkbox slot="end" checked="false" formControlName="cia3" value="false"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text color="primary">
                  <p>Hypertension artérielle réfractaire </p>
                </ion-text>
                <ion-checkbox slot="end" checked="false" formControlName="cia4"></ion-checkbox>
              </ion-item>
              <div>
                <ul>
                  <li>
                    <ion-note>
                      Tension artérielle systolique > 180 mmHg ET/OU,
                    </ion-note>
                  </li>
                  <li>
                    <ion-note>
                      Tension artérielle diastolique > 110 mmHg
                    </ion-note>
                  </li>
                </ul>
              </div>
              <ion-item>
                <ion-text color="primary">
                  <p>Maladie hépatique avancée</p>
                </ion-text>
                <ion-checkbox slot="end" checked="false" formControlName="cia5"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text color="primary">
                  <p>Endocardite infectieuse </p>
                </ion-text>
                <ion-checkbox slot="end" checked="false" formControlName="cia6"></ion-checkbox>
              </ion-item>

              <ion-item>
                <ion-text color="primary">
                  <p>Ulcère peptique actif </p>
                </ion-text>
                <ion-checkbox slot="end" checked="false" formControlName="cia7"></ion-checkbox>
              </ion-item> -->

              <!-- Button Submit-->
              <ion-row>
                <ion-col size="12">
                  <div class="ion-margin-top">
                    <ion-button
                      shape="round"
                      expand="block"
                      class="ion-margin-top btn"
                      color="dark"
                      type="submit"
                    >
                      Valider
                      <ion-icon
                        slot="end"
                        name="checkmark-circle-outline"
                      ></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
              <!-- -->
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <!-- ENDFORM -->
  </ion-grid>
</ion-content>

<ion-footer *ngIf="exitProcess">
  <ion-toolbar>
    <ion-text>
      <small class="error-message-inverse">
        <ion-icon name="information-circle-outline"></ion-icon>
        Si au moins un de ces pathologies existe c’est une indication de
        l’Angioplastie primaire
      </small>
    </ion-text>
  </ion-toolbar>
</ion-footer>
