:host {
  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  /* Remove bottom border on md */
  .header-md::after {
    background-image: none;
  }

  /* Remove bottom border on ios */
  .header-ios ion-toolbar:last-child {
    --border-width: 0;
  }
  .ion-bt-padding {
    --padding-start: 5px;
    --padding-end: 5px;
    width: 42px;
  }
  ion-icon {
    margin-right: 5px;
    font-size: 1.4em;
    float: left;
    width: 1.8em;
  }
  ion-icon.i-card {
    color: #929eaa;
  }

  button.button-native {
    padding: 0 5px !important;
  }
  ion-card {
    margin-top: 16px;
    ion-col {
      padding: 2px 2px;
    }
  }
  ion-item {
    ion-text {
      padding: 10px 0;
      ion-note {
        color: rgb(71, 82, 93);
        font-weight: 600;
      }

      ul{
        padding: 0px 0 0 20px;
        margin: 8px 0;
      }
    }
    ion-checkbox {
      margin-left: 8px;
      --background-checked: var(--ion-color-medium);
      --border-color-checked: var(--ion-color-medium);
    }
  }

  ion-footer {
    background: #f32051;
    ion-toolbar{
        padding-bottom: 0;
    }
  }
}

.form-infos {
  margin-bottom: 50px;

  ion-card-content.md.card-content-md.hydrated {
    //padding: 10px 24px 10px 10px;
    padding: 10px;
  }

  // ion-list.info ion-note {
  //   font-size: 0.9em;
  //   margin: 0;
  //   padding-left: 0;
  // }
  // ion-list.info ion-label {
  //   font-size: 0.9rem;
  // }
}
