<ion-header class="header">
  <ion-toolbar color="dark">
    <ion-title>Liste CR</ion-title>
    <!-- <ion-icon slot="end" name="close-circle" (click)="closeModal()"></ion-icon> -->

    <ion-button
      slot="end"
      strong="true"
      shape="round"
      tappable
      (click)="closeModal()"
      type="button"
    >
      <!-- <ion-icon slot="icon-only" name="close-circle"></ion-icon> -->
      Fermer
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="cloture-info ion-no-padding">
  <ion-grid
    fixed
    class="decision ion-margin-top ion-padding-top"
    *ngIf="motifId== 4  || motifId== 6 "
  >
    <ion-row>
      <ion-col size="12">
        <ion-grid class="diagno-btn-group">
          <ion-row>
            <ion-col size="12">
              <ion-button
                expand="block"
                fill="solid"
                class="gocr"
                tappable
                (click)="cloture()"
              >
                <div>
                  <h3>
                    <span class="icon-cr-orientation fsize-20em"></span>
                  </h3>
                  <ion-text color="_primary">
                    Transfert
                  </ion-text>
                </div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid
    fixed
    class="decision ion-margin-top ion-padding-top"
    *ngIf="motifId== 3"
  >
    <ion-row>
      <ion-col size="12">
        <ion-grid class="diagno-btn-group">
          <ion-row>
            <ion-col size="12">
              <ion-button
                expand="block"
                fill="solid"
                class="engio"
                tappable
                (click)="treatmentEngio()"
              >
                <div>
                  <h3><span class="icon-int-engio fsize-20em"></span></h3>
                  <ion-text color="_primary"> Transfert Engioplastie</ion-text>
                </div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid
    fixed
    class="decision ion-margin-top ion-padding-top"
    *ngIf="motifId== 1"
  >
    <ion-row>
      <ion-col size="12">
        <ion-grid class="diagno-btn-group">
          <ion-row>
            <ion-col size="6">
              <ion-button
                expand="block"
                fill="solid"
                class="st"
                tappable
                (click)="showAlertConfirme('ST')"
              >
                <div>
                  <h3><span class="icon-heart-st fsize-20em"></span></h3>
                  <ion-text color="_primary">
                    ST
                  </ion-text>
                </div>
              </ion-button>
            </ion-col>
            <!-- <ion-col size="4">
              <ion-button
                expand="block"
                fill="solid"
                class="sos"
                tappable
                (click)="closeModal()"
              >
                <div>
                  <h3>
                    <span class="icon-remove-outline fsize-22em"></span>
                  </h3>
                  <ion-text color="_primary">
                    FERMER
                  </ion-text>
                </div>
              </ion-button>
            </ion-col> -->
            <ion-col size="6">
              <ion-button
                expand="block"
                fill="solid"
                class="ras"
                tappable
                (click)="showAlertConfirme('RAS')"
              >
                <div>
                  <h3><span class="icon-heart-checked fsize-20em"></span></h3>
                  <ion-text color="_primary">
                    RAS
                  </ion-text>
                </div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid
    fixed
    class="decision ion-margin-top ion-padding-top"
    *ngIf="motifId== 5"
  >
    <ion-row>
      <ion-col size="12">
        <ion-grid class="diagno-btn-group">
          <ion-row>
            <ion-col size="4">
              <ion-button
                expand="block"
                fill="solid"
                class="st"
                tappable
                (click)="showAlertConfirme('ST')"
              >
                <div>
                  <h3><span class="icon-heart-st fsize-20em"></span></h3>
                  <ion-text color="_primary">
                    ST
                  </ion-text>
                </div>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button
                expand="block"
                fill="solid"
                class="sos"
                tappable
                (click)="closeModal()"
              >
                <div>
                  <h3>
                    <span class="icon-remove-outline fsize-22em"></span>
                  </h3>
                  <ion-text color="_primary">
                    FERMER
                  </ion-text>
                </div>
              </ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button
                expand="block"
                fill="solid"
                class="ras"
                tappable
                (click)="cloture()"
              >
                <div>
                  <h3><span class="icon-heart-checked fsize-20em"></span></h3>
                  <ion-text color="_primary">
                    Transfert
                  </ion-text>
                </div>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="m-buttom md100">
    <ng-container>
      <ion-row>
        <ion-col size="12">
          <ion-list class="ion-padding">
            <ion-item-divider>
              <ion-avatar>
                <span class="icon-cr text-dark  text17 "></span>
              </ion-avatar>
              <ion-text>
                <b class="text-gray500 ">AVIS DES MEDECINS DU CR: </b>
                <h6>{{crName}}</h6>
              </ion-text>
            </ion-item-divider>

            <ng-container>
              <ion-item
                lines="full"
                *ngFor="let itemReponse of dataReponsesAvis"
                class="ion-no-padding"
              >
                <ion-avatar>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                </ion-avatar>
                <ion-label>
                  {{itemReponse.doctor}}
                </ion-label>
                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span
                    class=" {{ itemReponse['reponse'] === 'ST' ? 'icon-heart-st' :  'icon-heart-checked'}}  text-dark  fsize14"
                  ></span>
                  <ion-note
                    [ngClass]="{ 'colorSt':itemReponse['reponse'] === 'ST', 'colorRas':itemReponse['reponse']  === 'RAS' }"
                  >
                    <b
                      >{{itemReponse["reponse"] === null? "PAS ENCORS" :
                      itemReponse["reponse"] }}</b
                    >
                  </ion-note>
                </ion-chip>
              </ion-item>
              <ion-item lines="full" class="ion-no-padding">
                <ion-avatar>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                </ion-avatar>
                <ion-label>
                  aaaaaaa
                </ion-label>
                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span class="icon-heart-st text-dark  fsize14"></span>
                  <ion-note [ngClass]="ST">
                    <b>PAS ENCORS</b>
                  </ion-note>
                </ion-chip>
              </ion-item>
              <ion-item lines="full" class="ion-no-padding">
                <ion-avatar>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                </ion-avatar>
                <ion-label>
                  aaaaaaa
                </ion-label>
                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span class="icon-heart-st text-dark  fsize14"></span>
                  <ion-note [ngClass]="ST">
                    <b>PAS ENCORS</b>
                  </ion-note>
                </ion-chip>
              </ion-item>
              <ion-item lines="full" class="ion-no-padding">
                <ion-avatar>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                </ion-avatar>
                <ion-label>
                  aaaaaaa
                </ion-label>
                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span class="icon-heart-st text-dark  fsize14"></span>
                  <ion-note [ngClass]="ST">
                    <b>PAS ENCORS</b>
                  </ion-note>
                </ion-chip>
              </ion-item>
              <ion-item lines="full" class="ion-no-padding">
                <ion-avatar>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                </ion-avatar>
                <ion-label>
                  aaaaaaa
                </ion-label>
                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span class="icon-heart-st text-dark  fsize14"></span>
                  <ion-note [ngClass]="ST">
                    <b>PAS ENCORS</b>
                  </ion-note>
                </ion-chip> </ion-item
              ><ion-item lines="full" class="ion-no-padding">
                <ion-avatar>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                </ion-avatar>
                <ion-label>
                  aaaaaaa
                </ion-label>
                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span class="icon-heart-st text-dark  fsize14"></span>
                  <ion-note [ngClass]="ST">
                    <b>PAS ENCORS</b>
                  </ion-note>
                </ion-chip> </ion-item
              ><ion-item lines="full" class="ion-no-padding">
                <ion-avatar>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                </ion-avatar>
                <ion-label>
                  aaaaaaa
                </ion-label>
                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span class="icon-heart-st text-dark  fsize14"></span>
                  <ion-note [ngClass]="ST">
                    <b>PAS ENCORS</b>
                  </ion-note>
                </ion-chip>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>

<!-- <ion-grid
    fixed
    class="decision ion-margin-top ion-padding-top"
    *ngIf="motifId== 3"
  >
    <ion-row>
      <ion-col size="12">
        <ion-button
          expand="block"
          fill="solid"
          class="engio"
          tappable
          (click)="treatmentEngio()"
        >
          <div>
            <h3><span class="icon-int-engio fsize-20em"></span></h3>
            <ion-text color="_primary"> Transfert Engioplastie</ion-text>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid
    fixed
    class="decision ion-margin-top ion-padding-top"
    *ngIf="motifId== 4  || motifId== 6 "
  >
    <ion-row>
      <ion-col size="12">
        <ion-button
          expand="block"
          fill="solid"
          class="gocr"
          tappable
          (click)="cloture()"
        >
          <div>
            <h3>
              <span class="icon-cr-orientation fsize-20em"></span>
            </h3>
            <ion-text color="_primary">
              Transfert
            </ion-text>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
