<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/home']"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>insc-infos</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
  <!-- <div class="overly-gradian">&nbsp;</div> -->
  <ion-row class="ion-no-padding ">
    <ion-col size="12" class="icon-header">
      <span class="icon-drogs text-white text20"></span>
    </ion-col>
    <ion-col size="12" class="title-header ion-no-padding"
      >PROTOCOLE DE THROMBOLYSE</ion-col
    >
  </ion-row>
</ion-grid>
<ion-content fullscreen class="pretreatment-infos ion-no-padding">
  <ion-grid class="form-bloc">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin ion-text-left" color="light">
          <ion-card-content class="text09 ">
            <ion-row class="ion-no-padding">
              <ion-col size="10" class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <ion-label>
                      <ion-badge class="p-6-16" slot="start" color="medium"
                        >Dossier N°: {{dossierId}}</ion-badge
                      >
                    </ion-label>
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-man text-dark  text10"></span>
                    {{dataPatient['lastName']}} {{dataPatient['firstName']}}
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-calander  text-dark  text10"></span>
                    {{dataPatient['birthDayFr']}}

                    <ion-chip outline color="secondary">
                      <ion-label class="bold"
                        >{{dataPatient['age']}} ans
                      </ion-label>
                    </ion-chip>

                    <!-- <ion-badge color="medium" mode="md">{{dataPatient['age']}} ans  </ion-badge>  -->
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-weight  text-dark  text10"></span>
                    {{dataPatient['weight'] + ' KG'}}
                  </ion-col>
                </ion-row>
              </ion-col>

              <!-- <ion-col size="2" class="ion-no-padding">
                <ion-col size="12" class="ion-no-padding">
                  <ion-button
                    (click)="openImageEcg(urlEcg)"
                    color="danger"
                    class="ion-bt-padding "
                    expand="full"
                  >
                    <ion-icon slot="icon-only" name="pulse"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-col> -->
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <form [formGroup]="protocolFormInfos" (ngSubmit)="submitFormInfos()">
      <ion-grid fixed>
        <ion-row class="ion-no-margin">
          <ion-col size="12">
            <!-- pretreatment-bolus -->
            <ion-list-header class="ion-no-padding">
              <div class="ion-text-center back-light">
                L’ECG DOIT SE FAIRE OBLIGATOIREMENT AVANT LE DÉBUT DE LA
                THROMBOLYSE
                <span class="small-border">&nbsp;</span>
              </div>
            </ion-list-header>
            <!--tpa-->
            <ng-container>
              <ion-row class="ion-no-padding ion-margin-top">
                <ion-col size="12" class="ion-no-padding">
                  <ion-card class="_ion-no-margin" color="light">
                    <ion-card-header>
                      <ion-card-title>
                        <span class="icon-drugs-2  text16"></span>
                        <h6>ALTÉPLASE (TPA) ACTILYSE</h6>
                      </ion-card-title>
                    </ion-card-header>

                    <ion-card-content class="text09 ">
                      <ion-radio-group formControlName="tpa">
                        <ion-item>
                          <ion-label>{{tpaVal[0]}}</ion-label>
                          <ion-radio
                            slot="end"
                            color="primary"
                            value="{{tpaVal[0]}}"
                          ></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>{{tpaVal[1]}}</ion-label>
                          <ion-radio
                            slot="end"
                            color="primary"
                            value="{{tpaVal[1]}}"
                          ></ion-radio>
                        </ion-item>
                        <ion-item>
                          <ion-label>{{tpaVal[2]}}</ion-label>
                          <ion-radio
                            slot="end"
                            color="primary"
                            value="{{tpaVal[2]}}"
                          ></ion-radio>
                        </ion-item>
                      </ion-radio-group>
                      <ion-note>
                        <small> DOSE :</small><br />
                        <small>15 MG BOLUS IV </small><br />
                        <small
                          >- 0,75 MG/KG IV EN 30 MINUTES (JUSQU’À 50 MG)</small
                        ><br />
                        <small>- PUIS 0,5 MG/KG IV EN 60 MINUTES</small>
                      </ion-note>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
              <!--tpa-->

              <ion-row>
                <ion-col size="12" class="ion-no-padding">
                  <ion-card class="ion-margin" color="light">
                    <ion-card-header>
                      <ion-card-title>
                        <span class="icon-drugs-2 text16"></span>
                        <h5>TÉNECTÉPLASE (TNK-TPA)METALYSE</h5>
                      </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="text09 ">
                      <ion-radio-group formControlName="tnktpa">
                        <ion-item>
                          <ion-label>{{tnkTpaVal}}</ion-label>
                          <ion-checkbox
                            slot="end"
                            color="primary"
                            checked="false"
                            formControlName="tnktpa"
                          ></ion-checkbox>
                        </ion-item>
                      </ion-radio-group>

                      <ion-note>
                        <small> DOSE :</small><br />
                        <small
                          >- BOLUS IV UNIQUE : < 60 KG : 30 MG (6 000 UI)</small
                        ><br />
                        <small>- 60-70 KG : 35 MG (7 000 UI)</small><br />
                        <small>- 70-80 KG : 40 MG (8 000 UI)</small><br />
                        <small>- 80-90 KG : 45 MG (9 000 UI)</small><br />
                        <small>- ≥ 100 KG : 50 MG (10 000 UI)</small><br />
                        <small
                          >- DIVISER LA DOSE PAR 2 CHEZ LES PATIENTS ÂGÉS PLUS
                          75 ANS</small
                        >
                      </ion-note>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ng-container>

            <!-- consentement-->
            <ion-item class="ion-margin-top" lines="full">
              <ion-label color="primary"
                >Patient a signé le consentement</ion-label
              >
              <ion-checkbox
                color="primary"
                checked="true"
                slot="start"
                formControlName="consentement"
              ></ion-checkbox>
            </ion-item>

            <div *ngFor="let error of errorMessages.consentement">
              <ng-container
                *ngIf="consentement.hasError(error.type) && (consentement.dirty || consentement.touched)"
              >
                <small class="message  error-message">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{error.message}}
                </small>
              </ng-container>
            </div>

            <ion-row>
              <ion-col size="12">
                <div class="ion-margin-top">
                  <ion-button
                    shape="round"
                    expand="block"
                    class="ion-margin-top btn"
                    color="dark"
                    type="submit"
                    [disabled]="!protocolFormInfos.valid"
                  >
                    Valider
                    <ion-icon
                      slot="end"
                      name="checkmark-circle-outline"
                    ></ion-icon>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <!----- FORM ----->
  </ion-grid>
</ion-content>
