:host {
  ion-button {
    --border-radius: 20px;
    // --background :linear-gradient(202deg, #fd5f60 0%, rgba(7, 133, 239, 0.85) 70%, rgba(4, 230, 247, 0.6));

    //background: #516bf0;
    --background: linear-gradient(202deg, #e40002f2 0%, #516bf0e8 70%, rgba(4, 230, 247, 0.6));

    // background: #01258e;
    // background: linear-gradient(202deg, rgba(1, 37, 142, 0.98) 0%, rgba(7, 133, 239, 0.85) 70%, rgba(4, 230, 247, 0.6));
  }

  ion-button.md.button.button-medium.button-solid.ion-activatable.ion-focusable.hydrated {
    height: 80px;
  }

   
  ion-card {
    background-color: #ffffff;
  }
  ion-content{
    --background:rgba(236, 240, 244, 0.35);
  }
}

.home-page{
 
}
