<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <div class="logo-header">
        <ion-img
          type="image/svg+xml"
          src="../../../assets/images/logo-color.svg"
        ></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- ------------------- -->
<ion-content fullscreen class="cloture-info ion-no-padding">
  <ion-grid fixed class="ion-no-padding  header-card-fix box-shadow">
    <!-- <div class="overly-gradian">&nbsp;</div> -->
    <ion-row class="ion-no-padding ">
      <ion-col size="12" class="icon-header">
        <span class="icon-cr-orientation text-white text22"></span>
      </ion-col>
      <ion-col size="12" class="title-header ion-no-padding"
        >Envoi Patient AU CR</ion-col
      >
    </ion-row>
  </ion-grid>

  <ion-grid class="form-bloc  bg-light ">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <ion-card class="ion-margin ion-text-left" color="light">
          <ion-card-content class="text09 ">
            <ion-row class="ion-no-padding">
              <ion-col size="12" class="ion-no-padding">
                <ion-label>
                  <ion-badge class="p-6-16" slot="start" color="medium"
                    >Dossier N°: {{dossierId}}</ion-badge
                  >
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row class="ion-no-padding">
              <ion-col size="10" class="ion-no-padding">
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <!-- <ion-icon class="i-card" name="person"></ion-icon>  -->
                    <span class="icon-man text-dark  text10"></span>
                    {{dataPatient['lastName']}} {{dataPatient['firstName']}}
                  </ion-col>
                </ion-row>

                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-calander  text-dark  text10"></span>
                    <!-- <ion-icon class="i-card" name="calendar"></ion-icon>  -->
                    {{dataPatient['birthDay']}}
                    <!-- <ion-badge color="medium" mode="md"> 45 ans </ion-badge> -->
                  </ion-col>
                </ion-row>
                <ion-row class="ion-no-padding">
                  <ion-col size="12" class="ion-no-padding">
                    <span class="icon-weight  text-dark  text10"></span>
                    <!-- <ion-icon class="i-card" name="speedometer"></ion-icon>  -->
                    {{dataPatient['weight'] + ' KG'}}
                  </ion-col>
                </ion-row>
              </ion-col>

              <!-- <ion-col size="2" class="ion-no-padding">
                <ion-col size="12" class="ion-no-padding">
                  <ion-button  (click)="openImageEcg(ecgImage)" color="danger" class="ion-bt-padding "
                    expand="full">                  
                    <ion-icon slot="icon-only" name="pulse"></ion-icon>                  
                  </ion-button>
                </ion-col>
              </ion-col> -->
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- ------------------- -->

  <ion-grid>
    <ion-row *ngIf="!afficheListeCr">
      <ion-col size="12">
        <ion-card class="list-CR" color="light">
          <ion-card-content class="text09 ">
            <ion-list class="ion-no-padding">
              <ion-item-divider class="box-shadow">
                <ion-label>
                  <span class="icon-cr text-dark  text17 "></span>
                  <b class="text-gray500 ">CENTRES DE REFERENCE</b>
                </ion-label>
              </ion-item-divider>
              <!-- -->
              <ion-item
                detail
                lines="full"
                *ngFor="let item of itemsCR"
                (click)="demandeAvisCr(item.etabId, item.etabName)"
              >
                <ion-label>
                  <span class="icon-cudt-box-2  text-dark  text17"></span>
                  {{item.etabName}}
                </ion-label>
                <ion-chip color="secondary">
                  <ion-note>
                    <span class="icon-duration-1 text-dark  "></span>
                    <b> {{item.duration}}</b></ion-note
                  >
                </ion-chip>
              </ion-item>
              <!-- -->
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="afficheReponseMed == 1">
      <ion-col size="12">
        <ion-card class="list-CR" color="light">
          <ion-card-content class="text09 ">
            <ion-list class="ion-no-padding">
              <ion-item-divider class="box-shadow">
                <ion-text>
                  <!-- <span class="icon-cr text-dark  text17 "></span> -->
                  <b class="text-gray500 "
                    >Aucune réponse pour l'instant, veuillez rafraichr la
                    page</b
                  >
                </ion-text>

                <ion-button
                  slot="end"
                  strong="true"
                  (click)="reponseAvisCR(demandeAvisId)"
                  shape="round"
                >
                  <ion-icon name="refresh"></ion-icon>
                </ion-button>
              </ion-item-divider>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="afficheReponseMed == 2">
      <ion-col size="12">
        <ion-card class="list-CR" color="light">
          <ion-card-content class="text09 ">
            <ion-list class="ion-no-padding">
              <ion-item-divider class="box-shadow">
                <ion-text>
                  <span class="icon-cr text-dark  text17 "></span>
                  <b class="text-gray500 "
                    >CENTRES DE REFERENCE : {{etabName}}</b
                  >
                </ion-text>

                <ion-button
                  slot="end"
                  strong="true"
                  (click)="reponseAvisCR(demandeAvisId)"
                  shape="round"
                >
                  <ion-icon name="refresh"></ion-icon>
                </ion-button>
              </ion-item-divider>

              <ion-item
                lines="full"
                *ngFor="let itemReponse of dataReponsesAvis"
                class="ion-no-padding"
              >
                <ion-label>
                  <span class="icon-doctor-men3  text-dark  text17"></span>
                  {{itemReponse.doctor}}
                </ion-label>

                <ion-chip color="secondary" slot="end" class="ion-no-padding">
                  <span
                    class=" {{ itemReponse['reponse'] === 'ST' ? 'icon-heart-st' :  'icon-heart-checked'}}  text-dark  fsize14"
                  ></span>

                  <ion-note
                    [ngClass]="{                    
                    'colorSt':itemReponse['reponse'] === 'ST',
                    'colorRas':itemReponse['reponse']  === 'RAS' }"
                  >
                    <b
                      >{{itemReponse["reponse"] === null? "PAS ENCORS" :
                      itemReponse["reponse"] }}</b
                    >
                  </ion-note>
                </ion-chip>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="intervention ion-no-margin" *ngIf="afficheReponseMed">
    <ion-row>
      <ion-col size="12" class="ion-text-left">
        <ion-grid class="interv-btn-group ion-text-left">
          <ion-row>
            <ion-col size="12">
              <ion-button
                expand="block"
                fill="solid"
                class="gocr"
                tappable
                (click)="showAlertConfirme('CR')"
              >
                <span class="icon-int-ras "></span>
                <ion-text>
                  Envoyer au CR
                </ion-text>
              </ion-button>
            </ion-col>
            <!-- 
            <ion-col size="12">
              <ion-button
                expand="block"
                fill="solid"
                class="thrombo"
                tappable
                (click)="showAlertConfirme('others')"
              >
                <span class="icon-int-thromb"></span>
                <ion-text>
                  Un autre CR
                </ion-text>
              </ion-button>
            </ion-col> -->
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
